/* Убираем маркеры в меню*/

ul.style_menu,
ul.style_spec {
    list-style-type: none;
    list-style: none;
    padding-left: 0;
}

/* задаем стиль для списка характеристики товара */

ul.style_spec {
    background-color: #c0e5f1;
}

/* задаем картинку для маркированого списка значений характеристик товара*/

ul.style_spec_value {
    list-style-image: url('../img/icon_spec_list.png');

}

/* задаем стили для ссылок в меню*/

ul.style_menu a {
    color: #00a8e1;
    font-family: sans-serif;
    font-weight: 600;
}

ul.style_menu a:link {
    text-decoration: none;
}

ul.style_menu a:visited {
    text-decoration: none;
}

ul.style_menu a:hover {
    text-decoration: underline;
    color: #f7b600;
    font-weight: 600;
}

ul.style_menu a:active {
    text-decoration: underline;
}


/* цвет фона на всех страницах */

body {
    background-color: #f8f8f8;
}

/* задаем стили для заголовков на странице описания товара */

.headline_for_goods {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #EAEAEA;
}

/* задаем стили для текста описания товара */
div.description_short {
    width: 100%;
}

p.description_short {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

p.description_full, main.content.description > p {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

/* стили для страницы контакты */

.style_input {
    margin-bottom: 10px;
    border-radius: 3px;
    padding-left: 10px;
}

input.style_input {
    height: 35px;
    width: 300px;
    font-size: 16px;
}

textarea.style_input {
    height: 150px;
    width: 500px;
    font-size: 16px;
    font-family: sans-serif;
    font-style: italic;
}

/* стиль для изображений в каталоге */

img.catalog_img {
    border: 2px solid #00a8e1;
    width: 200px;
    height: 200px;
}

img.goods_img {
    border: 2px solid #00a8e1;
    width: 200px;
    height: 200px;
}

/* При вводе Email менять цвет текста и цвет поля */

input[type="email"]:focus {
    color: #f7b600;
    background-color: black;
}

/* в текстовых полях каждое слово должно начинаться с большой буквы */

.style_input:not([type="email"]),
textarea.style_input {
    text-transform: capitalize;
}

/* При наведении рамка исчезает, но картинка не смещается */

img.goods_img:hover {
    border: 0px solid #00a8e1;
    padding: 2px;
}

/* На странице товара сделать первую букву первого слова другим шрифтом и размером */

p.description_full:first-letter, main.content.description > p:first-letter {
    color: #f7b600;
    font-weight: 600;
    font-family: monospace;
    font-size: 20px;
}

/*
a. Создать родительский блок с классом container, задать ширину и по центру экрана
b. Задать блоку с классом header значение высоты.
c. Отодвинуть логотип от левого края.
d. Из вертикального меню сделать горизонтальное.
e. Разместить меню справа от логотипа.
f. Прижать меню к правому краю.
*/

.container {
    display: flex; 
    flex-direction: column;
    /*flex: 1 0 auto;*/
    width: 80%;
    /*height: 100%;*/
    margin: auto;
    min-height: 100%;
}

.header, header {
    height: 10%;
    background-image: url("../img/header-background.png");
}

.header h1, header h1, .header > a, header > a {
    text-shadow: #00a8e1 1px 1px 0, #00a8e1 2px 2px 0, 
                 #00a8e1 3px 3px 0;
    color: #f7b600;
    display: inline;
    text-decoration: none;
}

.header, header, .header ul, header ul {
    display: flex;
    justify-content: space-between;
}

.header img, header img {
    margin-left: 30px;
    vertical-align: middle;
}

.header ul li a, header ul li a {
    padding: 0 30px;
    text-transform: uppercase;
    vertical-align: middle;
}

.content {
    width: 100%;
    flex: 1 0 auto;
}

/*
a. Задать высоту.
b. Поменять цвет фона.
c. Прижать текст “Все права защищены” к правому краю и отодвинуть от верхней и правой границы.
*/

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin: 30px 0px 0px 0px;
    clear: both;
    background-image: url("../img/footer-background.png");
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    justify-content: space-between;
}

.footer_phone, .footer_phone > a {
    text-decoration: none;
    text-shadow: #00a8e1 1px 1px 0, #00a8e1 2px 2px 0, 
                 #00a8e1 3px 3px 0;
    color: #f7b600;
    font-weight: bold;
    font-size: 25px;
    width: 20%;
    margin-top: 10px;
    margin-left: 10px;
}

.footer_menu, .footer_menu a, .footer_menu ul {
    width: 60%;
    margin-top: 0px;
    text-decoration: none;
    color: #f7b600;
    font-weight: bold;
    list-style: none;
    margin-top: 10px;
}

.footer_text {
    width: 20%;
    margin-top: 10px;
    margin-right: 50px;
    text-shadow: #00a8e1 1px 1px 0, #00a8e1 2px 2px 0, 
                 #00a8e1 3px 3px 0;
    color: #f7b600;
    font-weight: bold;
    margin: 15px;
}


/*
a. Разместить краткое описание товара справа от картинки
b. Добавить кнопку “Купить”
c. Присвоить наведение и нажатие на кнопку “Купить”
*/

div.goods_description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.goods_img {
    margin-right: 50px;
}

.button_buy {
    width: 150px;
    height: 50px;
}
.button_buy:hover {
    cursor: pointer;
}
.button_buy:active {
    cursor: pointer;
}


/*
a. Создать блоки для картинки и ссылки на просмотр товара каталога
b. Расположить элементы каталога горизонтально.
*/

.catalog_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.catalog_item {
    width: 250px;
    height: 250px;
    margin: 70px;
}

/* Добавить эффект наведения на товары на странице каталога */
.catalog_item:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#map {
    width: 100%;
    height: 374px;
}

.sale_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.sale_content > .catalog_item {
    position: relative;
    text-align: center;
}

.sale_label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: #00a8e1 1px 1px 0, #00a8e1 2px 2px 0, 
                 #00a8e1 3px 3px 0;
    color: #f7b600;
    font-weight: bold;
}

 /* Добавить хлебные крошки */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
}

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
} 

html, body {
    /*width: 100%;*/
    height: 100%;
}

.header, .content, .main_page_sale, footer, header {
    flex-shrink: 0;
}

/* стиль кнопок для Admin Panel*/
a.admin_button {
  position: relative;
  display: inline-block;
  font-size: 100%;
  font-weight: 700;
  color: #fff;
  text-shadow: #053852 -1px 1px, #053852 1px 1px, #053852 1px -1px, #053852 -1px -1px;
  text-decoration: none;
  user-select: none;
  padding: .3em .7em;
  outline: none;
  border-radius: 7px;
  background: #053852 repeating-linear-gradient(135deg, #053852, #053852 10px, #1679ad 10px, #1679ad 20px, #053852 20px);
  box-shadow:
   inset -2px -2px rgba(0,0,0,.3),
   inset 2px 2px rgba(255,255,255,.3);
  transition: background-position 999999s, color 999999s, text-shadow 999999s;
}
a.admin_button:hover, a.admin_button:focus {
  text-shadow: #0175b1 -1px 1px, #0175b1 1px 1px, #0175b1 1px -1px, #0175b1 -1px -1px;
  background: #0175b1 repeating-linear-gradient(135deg, #0175b1, #0175b1 10px, #8fd2f5 10px, #8fd2f5 20px, #0175b1 20px) no-repeat;
  background-size: 1000% 100%;
}
a.admin_button:hover {
  background-position: 0 0;
}
a.admin_button:focus {
  color: rgba(255,255,255,0);
  text-shadow: rgba(1,117,177,0) -1px 1px, rgba(1,117,177,0) 1px 1px, rgba(1,117,177,0) 1px -1px, rgba(1,117,177,0) -1px -1px;
  background-position: 900% 0;
  transition: background-position linear 600s, color .5s, text-shadow .5s;
}
a.admin_button:after {
  content: "загрузка\2026";
  position: absolute;
  top: 0;
  left: 0;
  padding: .3em .7em;
  color: rgba(0,0,0,0);
  text-shadow: none;
  transition: 999999s;
}
a.admin_button:focus:after {
  color: #fff;
  text-shadow: #0175b1 -1px 1px, #0175b1 1px 1px, #0175b1 1px -1px, #0175b1 -1px -1px;
  transition: .5s;
}


a.admin_button_op {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
} 
a.admin_button_op:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
a.admin_button_op:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }


/*стиль для страниц из adminpanel*/
table.adminpanel-item tr {
  vertical-align: top;
  text-align: left;
}

 /* Стиль для панели авторизации */
ul.authpanel {
    padding: 10px 16px;
    list-style: none;
    background-color: #ffe587;
    text-align: right;
}

ul.authpanel li {
    display: inline;
    font-size: 18px;
}

ul.authpanel li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

ul.authpanel li a {
    color: #0275d8;
    text-decoration: none;
}

ul.authpanel li a:hover {
    color: #01447e;
    text-decoration: underline;
} 

/*стиль для цены товара*/
p.item_price {
  font-weight: bold;
  font-size: 135%;
}